* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font: 18px Helvetica, Arial;
    height: calc(100% - 84px);
}

form {
    margin: 15px 40px 40px 40px;
    display: flex;
    align-items: center;
}

form input {
    border: 3px solid black;
    height: 43px;
    width: 70%;
    margin-right: 3px;
    padding-left: 10px;
    font: 16px Helvetica, Arial;
    font-weight: bold;
}

form input:focus, form input:required, form input:invalid {
    outline: none;
    box-shadow: none;
}

form button {
    background: rgb(130, 224, 255);
    border: none;
    padding: 14px 30px;
    font-weight: bold;
}

#form-wrapper {
    bottom: 0;
    width: 100%;
    height: 98px;
    background-color: white;
}

#messages {
    height: calc(100% - 98px);
    overflow-y: auto;
    list-style-type: none;
    margin: 44px;
    padding: 0;
}

#messages li {
    padding: 6px 0;
}

#messages {
    margin-bottom: 40px;
}

.info-msg, .info-nickname {
    color: red;
}

.own-msg, .own-nickname {
    color: blue;
}

.welcome-msg {
    color: green;
}

@media screen and (max-width: 736px) {
    form {
        justify-content: center;
    }
}